.text-sky{
    color: #75c3f7;
}
.text-og{
    color: #1ba095;
}
.text-bl{
    color: #112A46;
}
.text-lt{
    color: #dee2e6;
}
.text-sun{
    color: #e9b86f;
}
.text-skylight{
    color: #6ea8fe;
}

/*Background colors*/
.bg-sky {
    background-color: #75c3f7;
}
.bg-sun{
    background-color: #e9b86f;
}
.bg-darkl {
    background-color: #2a2f34;
}
.bg-darkest {
    background-color: #212529;
}
.bg-og {
    background-color: #1ba095;
}

/*Tamaños predeterminados*/
.titulo{
    height: 70px;
}
.parrafo{
    height: 130px;
}

@media (max-width: 768px) {
    .titulo {
      font-size: 1rem; /* Ajustar el tamaño del título */
      padding: 10px; /* Reducir el padding */
    }

    .parrafo {
      font-size: 0.875rem; /* Reducir el tamaño del texto */
      line-height: 1.5; /* Ajustar la altura de línea */
    }
}

@media (max-width: 576px) {
    .titulo {
    font-size: 0.875rem;
    }

    .parrafo {
        font-size: 0.75rem;
    }
}

.link-color{
    color: #6ea8fe;
    text-decoration: none;
}
.link-color:hover{
    text-decoration: underline;
}

.footer-color{
    color: #dee2e6;
    text-decoration: none;
}
.footer-color:hover{
    text-decoration: underline;
}

.indice {
    background-color: #212529;
    color : #fff;
    font-family: inter;
    text-decoration: none;
    font-weight: bold;
}
.indice:hover{
    background-color: #1ba095;
}

.mont {
    font-family: montserrat;
}
.pop {
    font-family: poppins;
}
.int {
    font-family: inter;
}