
.text-sky{
    color: #75c3f7;
}
.text-og{
    color: #1ba095;
}

/*Background colors*/
.bg-sky {
    background-color: #75c3f7;
}
.bg-sun{
    background-color: #e9b86f;
}
.bg-darkl {
    background-color: #2a2f34;
}
.bg-darkest {
    background-color: #212529;
}
.bg-og {
    background-color: #1ba095;
}